node-red/flows.json
[{"id":"c837f960.d703d8","type":"tab","label":"Sanctuary Lighting","disabled":false,"info":""},{"id":"fed3bc17.75d41","type":"tab","label":"HVAC","disabled":false,"info":""},{"id":"c05653ac.55f6b","type":"tab","label":"Test Tab","disabled":false,"info":""},{"id":"e58caaca.87f878","type":"tab","label":"Door Lock","disabled":false,"info":""},{"id":"ea085f5a.23cdf","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"804ed9ef.be45f8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"1f7f9b2a.3e1fb5","type":"MySQLdatabase","z":"","host":"192.168.1.100","port":"3306","db":"esp-door","tz":""},{"id":"da4234d3.690b68","type":"ui_group","z":"","name":"Reader List","tab":"b98f596a.2ca1d8","order":1,"disp":true,"width":"12","collapse":true},{"id":"d014f62a.8261f8","type":"ui_group","z":"","name":"User List","tab":"b98f596a.2ca1d8","order":2,"disp":true,"width":"12","collapse":true},{"id":"81723d16.c883a","type":"ui_group","z":"","name":"Unknown RFID","tab":"b98f596a.2ca1d8","order":3,"disp":true,"width":"12","collapse":true},{"id":"75400e48.d89bb","type":"ui_group","z":"","name":"Access Log","tab":"b98f596a.2ca1d8","order":5,"disp":true,"width":"12","collapse":true},{"id":"783c4918.a3c438","type":"ui_group","z":"","name":"Event Logs","tab":"b98f596a.2ca1d8","order":4,"disp":true,"width":"12","collapse":true},{"id":"b98f596a.2ca1d8","type":"ui_tab","z":"","name":"Door","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"97159648.1f8a48","type":"ui_base","z":"","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"288b1968.f16fd6","type":"mqtt-broker","z":"","name":"HASS.io Mosquitto","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8173a26c.f2b6e","type":"inject","z":"c837f960.d703d8","name":"At Midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"x":116,"y":470,"wires":[["16568ff0.a4ed7"]]},{"id":"16568ff0.a4ed7","type":"api-call-service","z":"c837f960.d703d8","name":"Turn Off Chauvet Movers","server":"804ed9ef.be45f8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.spot_375z_irc_stage_left, switch.spot_375z_irc_stage_right, switch.wash_zoom_450_irc_v2_stage_left, switch.wash_zoom_450_irc_v2_stage_right\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360.5,"y":470,"wires":[[]]},{"id":"121b0c3b.7a1d44","type":"server-state-changed","z":"c837f960.d703d8","name":"Motion Sensor Tripped","server":"804ed9ef.be45f8","version":1,"entityidfilter":"sensor.sn1_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"standby","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":117.5,"y":46,"wires":[[],["d3b41e80.09e06"]]},{"id":"53ec144.4b9f3ec","type":"weekday","z":"c837f960.d703d8","name":"Weekday Restrictions?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":486.5,"y":45,"wires":[["6def645f.d9005c"],["acfda5.9756b258"]]},{"id":"acfda5.9756b258","type":"time-range-switch","z":"c837f960.d703d8","name":"Event in Progress?","lat":"33.346585184464224","lon":"-111.83998212218285","startTime":"6:30","endTime":"12:30","startOffset":0,"endOffset":0,"x":599,"y":139,"wires":[[],["fa4e2e7a.e6fb8"]]},{"id":"fa4e2e7a.e6fb8","type":"api-call-service","z":"c837f960.d703d8","name":"House Lights On","server":"804ed9ef.be45f8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.house_track_1, light.house_track_2, light.house_track_3, light.house_track_4, light.house_track_5, light.house_track_6, light.house_track_7\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1063.5,"y":144,"wires":[["6937cb7a.6621b4"]]},{"id":"6937cb7a.6621b4","type":"stoptimer","z":"c837f960.d703d8","duration":"20","units":"Minute","payloadtype":"str","payloadval":"Timer Expired","name":"","x":1307.5,"y":143,"wires":[["589d8ea5.d964e"],[]]},{"id":"589d8ea5.d964e","type":"api-current-state","z":"c837f960.d703d8","name":"Nobody Here?","server":"804ed9ef.be45f8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.nobody_here","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1305.5,"y":28,"wires":[["6937cb7a.6621b4"],["f36a14a1.af9b98"]]},{"id":"f36a14a1.af9b98","type":"api-call-service","z":"c837f960.d703d8","name":"Turn off House Lights","server":"804ed9ef.be45f8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.house_track_1, light.house_track_2, light.house_track_3, light.house_track_4, light.house_track_5, light.house_track_6, light.house_track_7\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1595,"y":79,"wires":[[]]},{"id":"d3b41e80.09e06","type":"api-current-state","z":"c837f960.d703d8","name":"Check the current light level.","server":"804ed9ef.be45f8","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gte","override_topic":false,"entity_id":"sensor.sn1_ldr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":140,"wires":[[],["53ec144.4b9f3ec"]]},{"id":"208b6f7f.b22f2","type":"inject","z":"c837f960.d703d8","name":"Start Moving Heads","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 0","once":false,"onceDelay":0.1,"x":144.5,"y":552,"wires":[["2e5d79e7.dbbe46"]]},{"id":"2e5d79e7.dbbe46","type":"api-call-service","z":"c837f960.d703d8","name":"Turn On Chauvet Movers","server":"804ed9ef.be45f8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.spot_375z_irc_stage_left, switch.spot_375z_irc_stage_right, switch.wash_zoom_450_irc_v2_stage_left, switch.wash_zoom_450_irc_v2_stage_right\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":398,"y":552,"wires":[[]]},{"id":"9bf0e0dd.1788f","type":"api-call-service","z":"c837f960.d703d8","name":"Turn Off Chauvet Movers","server":"804ed9ef.be45f8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.spot_375z_irc_stage_left, switch.spot_375z_irc_stage_right, switch.wash_zoom_450_irc_v2_stage_left, switch.wash_zoom_450_irc_v2_stage_right\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":399.5,"y":603,"wires":[[]]},{"id":"887aacb6.a07be","type":"inject","z":"c837f960.d703d8","name":"Shut Down Movers","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 12 * * 0","once":false,"onceDelay":0.1,"x":146,"y":603,"wires":[["9bf0e0dd.1788f"]]},{"id":"6def645f.d9005c","type":"api-call-service","z":"c837f960.d703d8","name":"House Lights Reset to Off","server":"804ed9ef.be45f8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.house_track_1, light.house_track_2, light.house_track_3, light.house_track_4, light.house_track_5, light.house_track_6, light.house_track_7\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":772,"y":42,"wires":[["9448caf1.376b08"]]},{"id":"e14c729e.58521","type":"ha-get-entities","z":"fed3bc17.75d41","server":"804ed9ef.be45f8","name":"Get and split 3 Entities using Regex","rules":[{"property":"entity_id","logic":"is","value":"input_number.away_temp|input_number.ac_hold_time|input_number.sunday_morning_temp","valueType":"re"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":366,"y":462,"wires":[["e7f00132.60842"]]},{"id":"e7f00132.60842","type":"function","z":"fed3bc17.75d41","name":"","func":"if (msg.payload.entity_id == \"input_number.ac_hold_time\") {\n    flow.set(\"holdTime\", msg.payload.state);\n    var myHoldTime = flow.get(\"holdTime\");\n    var msg1 = { payload: myHoldTime };\n} else if (msg.payload.entity_id == \"input_number.away_temp\") {\n    flow.set(\"awayTemp\", msg.payload.state);\n    var myAwayTemp = flow.get(\"awayTemp\");\n    var msg2 = { payload: myAwayTemp };\n} else if (msg.payload.entity_id == \"input_number.sunday_morning_temp\") {\n    flow.set(\"sundayMorning\", msg.payload.state);\n    var mySundayTemp = flow.get(\"sundayMorning\");\n    var msg3 = { payload: mySundayTemp };\n}\n\nreturn msg;","outputs":3,"noerr":0,"x":105,"y":525,"wires":[["aaeeab07.6240f8"],["aaeeab07.6240f8"],["aaeeab07.6240f8"]]},{"id":"7944242b.01120c","type":"schedex","z":"fed3bc17.75d41","name":"On from 6:15AM - 12:15PM Sunday","suspended":false,"lat":"33.346612","lon":"-111.839924","ontime":"06:15","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"12:15","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"sun":true,"x":185.5,"y":38,"wires":[["c381eafc.d83328"]]},{"id":"aaeeab07.6240f8","type":"join","z":"fed3bc17.75d41","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":262,"y":563,"wires":[["2547d9d3.837716"]]},{"id":"91eb4e.aac984b","type":"api-render-template","z":"fed3bc17.75d41","name":"Get Sunday Temp Setting","server":"804ed9ef.be45f8","template":"{{ states('input_number.sunday_morning_temp') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":551,"y":83,"wires":[["6c71cc60.c4f554"]]},{"id":"a370e30c.0b321","type":"api-render-template","z":"fed3bc17.75d41","name":"Get Hold Time","server":"804ed9ef.be45f8","template":"{{ (states('input_number.ac_hold_time') | int) -7 }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":520,"y":33,"wires":[["3b61a457.d5399c"]]},{"id":"6c71cc60.c4f554","type":"join","z":"fed3bc17.75d41","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":853,"y":87,"wires":[["bec19ccb.3de07","30673c32.f06ac4","5bb21f99.44345","7d33da2e.506514","e74a852.dc88c78","55599e2a.5176","d5e9c6d6.624b58"]]},{"id":"3b61a457.d5399c","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":701.5,"y":32,"wires":[["6c71cc60.c4f554"]]},{"id":"26484195.18e14e","type":"server-state-changed","z":"fed3bc17.75d41","name":"Manually Changed Temp","server":"804ed9ef.be45f8","version":1,"entityidfilter":"input_number.sanctuary_master_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":151,"y":175,"wires":[["1dcbc29c.84414d","8c3ba359.75475"]]},{"id":"bc6966da.6926a8","type":"join","z":"fed3bc17.75d41","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":851,"y":180,"wires":[["fba71b11.c4fa78","50d6614a.ba7b5","a12ea615.1de518","9e9be8df.2812b8","9cc17f47.4b9b6","c6c01c15.66a08","f566734d.c1c0d"]]},{"id":"1dcbc29c.84414d","type":"api-render-template","z":"fed3bc17.75d41","name":"Get Hold Time","server":"804ed9ef.be45f8","template":"{{ (states('input_number.ac_hold_time') | int) -7 }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":522,"y":135,"wires":[["ce6e2c29.7238"]]},{"id":"70d927a3.86cd38","type":"api-render-template","z":"fed3bc17.75d41","name":"Get Away Temp","server":"804ed9ef.be45f8","template":"{{ states('input_number.away_temp') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":523,"y":187,"wires":[["bc6966da.6926a8"]]},{"id":"ce6e2c29.7238","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":702,"y":135,"wires":[["bc6966da.6926a8"]]},{"id":"c381eafc.d83328","type":"switch","z":"fed3bc17.75d41","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":117.5,"y":116,"wires":[["a370e30c.0b321","91eb4e.aac984b"],["1dcbc29c.84414d","70d927a3.86cd38"]]},{"id":"46488e97.8117e","type":"api-render-template","z":"fed3bc17.75d41","name":"Get Master Temp","server":"804ed9ef.be45f8","template":"{{ states('input_number.sanctuary_master_temp') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":535,"y":243,"wires":[["bc6966da.6926a8"]]},{"id":"8c3ba359.75475","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":335,"y":223,"wires":[["46488e97.8117e"]]},{"id":"bec19ccb.3de07","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":20,"wires":[["74eb8986.ff2018"]]},{"id":"30673c32.f06ac4","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":60,"wires":[["6979ecb6.86a1e4"]]},{"id":"5bb21f99.44345","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":100,"wires":[["5eac40a8.97a78"]]},{"id":"7d33da2e.506514","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":140,"wires":[["fb775419.149948"]]},{"id":"e74a852.dc88c78","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":180,"wires":[["214c5058.898f6"]]},{"id":"fba71b11.c4fa78","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":480,"wires":[["214c5058.898f6"]]},{"id":"50d6614a.ba7b5","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":440,"wires":[["fb775419.149948"]]},{"id":"a12ea615.1de518","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":400,"wires":[["5eac40a8.97a78"]]},{"id":"9e9be8df.2812b8","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":360,"wires":[["6979ecb6.86a1e4"]]},{"id":"9cc17f47.4b9b6","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":320,"wires":[["74eb8986.ff2018"]]},{"id":"e1594e03.5a835","type":"inject","z":"fed3bc17.75d41","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"6","x":112.5,"y":462,"wires":[["e14c729e.58521"]]},{"id":"9448caf1.376b08","type":"delay","z":"c837f960.d703d8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020.5,"y":40,"wires":[["fa4e2e7a.e6fb8"]]},{"id":"2547d9d3.837716","type":"debug","z":"fed3bc17.75d41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":406.5,"y":563,"wires":[]},{"id":"65ba5bb0.be2074","type":"inject","z":"fed3bc17.75d41","name":"Set to Away Temp for 12 Hours","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":183.5,"y":362,"wires":[["46bc7ac.0610884","70d927a3.86cd38"]]},{"id":"46bc7ac.0610884","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":466,"y":361,"wires":[["bc6966da.6926a8"]]},{"id":"55599e2a.5176","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":220,"wires":[["d986c6db.df0448"]]},{"id":"d5e9c6d6.624b58","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1237,"y":259,"wires":[["975b8cb4.f7c2c"]]},{"id":"c6c01c15.66a08","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":520,"wires":[["d986c6db.df0448"]]},{"id":"f566734d.c1c0d","type":"delay","z":"fed3bc17.75d41","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":560,"wires":[["975b8cb4.f7c2c"]]},{"id":"74eb8986.ff2018","type":"ifttt trigger","z":"fed3bc17.75d41","url":"","name":"Sanctuary NE","method":"POST","ret":"txt","event":"Sanctuary_NE","secretkey":"8nXp-DhEpN6WdYoX8UHVw","val1":"{{payload.0}}","val2":"{{payload.1}}","val3":"","x":1520,"y":160,"wires":[[]]},{"id":"6979ecb6.86a1e4","type":"ifttt trigger","z":"fed3bc17.75d41","url":"","name":"Sanctuary W","method":"POST","ret":"txt","event":"Sanctuary_W","secretkey":"8nXp-DhEpN6WdYoX8UHVw","val1":"{{payload.0}}","val2":"{{payload.1}}","val3":"","x":1510,"y":200,"wires":[[]]},{"id":"5eac40a8.97a78","type":"ifttt trigger","z":"fed3bc17.75d41","url":"","name":"Sanctuary N2","method":"POST","ret":"txt","event":"Sanctuary_N2","secretkey":"8nXp-DhEpN6WdYoX8UHVw","val1":"{{payload.0}}","val2":"{{payload.1}}","val3":"","x":1520,"y":240,"wires":[[]]},{"id":"fb775419.149948","type":"ifttt trigger","z":"fed3bc17.75d41","url":"","name":"Sanctuary SE","method":"POST","ret":"txt","event":"Sanctuary_SE","secretkey":"8nXp-DhEpN6WdYoX8UHVw","val1":"{{payload.0}}","val2":"{{payload.1}}","val3":"","x":1520,"y":280,"wires":[[]]},{"id":"214c5058.898f6","type":"ifttt trigger","z":"fed3bc17.75d41","url":"","name":"Sanctuary N1","method":"POST","ret":"txt","event":"Sanctuary_N1","secretkey":"8nXp-DhEpN6WdYoX8UHVw","val1":"{{payload.0}}","val2":"{{payload.1}}","val3":"","x":1520,"y":320,"wires":[[]]},{"id":"d986c6db.df0448","type":"ifttt trigger","z":"fed3bc17.75d41","url":"","name":"Foyer A/C","method":"POST","ret":"txt","event":"foyer_ac","secretkey":"8nXp-DhEpN6WdYoX8UHVw","val1":"{{payload.0}}","val2":"{{payload.1}}","val3":"","x":1500,"y":360,"wires":[[]]},{"id":"975b8cb4.f7c2c","type":"ifttt trigger","z":"fed3bc17.75d41","url":"","name":"Living Room A/C","method":"POST","ret":"txt","event":"livingRoom_ac","secretkey":"8nXp-DhEpN6WdYoX8UHVw","val1":"{{payload.0}}","val2":"{{payload.1}}","val3":"","x":1530,"y":400,"wires":[[]]},{"id":"bdf322f8.c2b1d","type":"mqtt in","z":"e58caaca.87f878","name":"","topic":"rfid/sync","qos":"2","datatype":"json","broker":"288b1968.f16fd6","x":150,"y":900,"wires":[["53c51c49.c88b94"]]},{"id":"9ca83732.0bf528","type":"mqtt out","z":"e58caaca.87f878","name":"","topic":"rfid","qos":"2","retain":"false","broker":"288b1968.f16fd6","x":220,"y":720,"wires":[]},{"id":"e404cf8a.db90c","type":"mqtt in","z":"e58caaca.87f878","name":"","topic":"rfid/accesslist","qos":"2","datatype":"json","broker":"288b1968.f16fd6","x":160,"y":1020,"wires":[["b144c01b.aeb6a"]]},{"id":"58efac41.2de174","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":780,"y":1020,"wires":[["e5f077f.d8e8488"]]},{"id":"b144c01b.aeb6a","type":"json","z":"e58caaca.87f878","name":"JSON2OBJ","property":"payload","action":"obj","pretty":false,"x":370,"y":1020,"wires":[["6a8d3d06.e1be04"]]},{"id":"6a8d3d06.e1be04","type":"function","z":"e58caaca.87f878","name":"MakeMySQLinsert","func":"msg.topic = \"INSERT INTO users (uuid, user, acctype, validuntil) VALUES ('\"+msg.payload.uid+\"','\"+msg.payload.user+\"',\"+msg.payload.acctype+\",'\"+msg.payload.validuntil+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1020,"wires":[["58efac41.2de174"]]},{"id":"1e45178b.fac9b8","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":460,"y":780,"wires":[["697c706d.0607a"]]},{"id":"c485ab60.d6f168","type":"function","z":"e58caaca.87f878","name":"100 *ALL USERS","func":"msg.topic = \"SELECT * FROM users\";\nflow.set(\"doorip\", msg.payload.doorip);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":780,"wires":[["1e45178b.fac9b8"]]},{"id":"9bce3682.820038","type":"function","z":"e58caaca.87f878","name":"IterateUsers","func":"var person = new Object();\nperson.cmd        = \"adduser\";\nperson.doorip     = flow.get(\"doorip\");\nperson.uid        = msg.payload.uuid;\nperson.user       = msg.payload.user;\nperson.acctype    = msg.payload.acctype;\nperson.validuntil = msg.payload.validuntil;\n\nmsg.payload = person;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":680,"wires":[["697c706d.0607a","317ad8f8.aaa3f8"]]},{"id":"697c706d.0607a","type":"Serial Iterator","z":"e58caaca.87f878","name":"USER ITER","property":"payload","inputFlow":"input","saveOutput":1,"recursive":0,"storeId":0,"x":670,"y":780,"wires":[["1e377fd9.ec496"],[]]},{"id":"1e377fd9.ec496","type":"delay","z":"e58caaca.87f878","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":780,"wires":[["9bce3682.820038"]]},{"id":"53c51c49.c88b94","type":"function","z":"e58caaca.87f878","name":"SYNCtoDB","func":"\nif (msg.payload.type == \"heartbeat\")\n{\n    msg.topic = \"replace INTO readers (ip, doorname) VALUES ('\"+msg.payload.ip+\"','\"+msg.payload.door+\"');\";\n    return [msg, null];\n}    \n\nmsg.payload = \" ???? \";\nreturn [null, msg];","outputs":2,"noerr":0,"x":370,"y":900,"wires":[["9a0f51b0.601a5","e128ec88.9d5fb","bdaece79.28a62"],[]]},{"id":"9a0f51b0.601a5","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":580,"y":900,"wires":[["fe896894.b781d8"]]},{"id":"a98236c0.e6bd88","type":"mqtt in","z":"e58caaca.87f878","name":"","topic":"rfid/send","qos":"2","datatype":"json","broker":"288b1968.f16fd6","x":150,"y":1160,"wires":[["11019b5f.b90fd5","607b4ecf.3d6c6"]]},{"id":"f30ad381.1c4f3","type":"function","z":"e58caaca.87f878","name":"10*Readers","func":"msg.topic = \"Select * from readers;\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":210,"y":100,"wires":[["2a90aee1.063d02"]]},{"id":"2a90aee1.063d02","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":380,"y":100,"wires":[["20b4393d.c13586","a6bc0999.674028","189c51ef.ea397e"]]},{"id":"20b4393d.c13586","type":"ui_template","z":"e58caaca.87f878","group":"da4234d3.690b68","name":"GUI READER LIST","order":1,"width":"12","height":"3","format":"<style>\n  a:link    {color: #ffffff;}\n  a:visited {color: #999999;}\n  a:hover   {color: #ff3300;} \n  \n  .md-button.black-text {\n    color: black;\n  }\n\n  /* Metal ------------------------- */\n  \n  .metal {\n    position: relative;\n    margin: auto;\n    \n    text-align: center;\n    color: hsla(0,0%,20%,1);\n    text-shadow:\n      hsla(0,0%,40%,.5) 0 -1px 0,\n      hsla(0,0%,100%,.6) 0 2px 1px;\n    \n    background-color: hsl(0,0%,90%);\n    box-shadow:\n      inset hsla(0,0%,15%,  1) 0  0px 0px 2px, /* border */\n      inset hsla(0,0%,15%, .8) 0 -1px 3px 2px, /* soft SD */\n      inset hsla(0,0%,0%, .25) 0 -1px 0px 3px, /* bottom SD */\n      inset hsla(0,0%,100%,.7) 0  2px 1px 3px, /* top HL */\n      \n      hsla(0,0%, 0%,.15) 0 -2px 3px 2px, /* outer SD */\n      hsla(0,0%,100%,.5) 0  2px 3px 2px; /* outer HL */ \n\n    transition: color .2s;\n  }\n  \n  /* Linear ------------------------- */\n\n  .metal.linear {\n    width: 40px;\n    height: 40px;\n    font-size: 1.2em;\n    border-radius: .5em;\n    background-image:\n      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),\n      -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),\n      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),\n      \n      linear-gradient(180deg,\n      hsl(0,0%,78%)  0%, \n      hsl(0,0%,90%) 47%, \n      hsl(0,0%,78%) 53%,\n      hsl(0,0%,70%)100%);\n  }\n    \n  /* Wide ------------------------- */\n\n  .metal.wide {\n    width: 90px;\n    height: 40px;\n  }\n\n  /* active ------------------------- */\n\n  .metal:active {\n    color: hsl(210, 100%, 40%);\n    text-shadow:\n      hsla(210,100%,20%,.3) 0 -1px 0,\n      hsl(210,100%,85%) 0 2px 1px,\n      hsla(200,100%,80%,1) 0 0 5px,\n      hsla(210,100%,50%,.6) 0 0 20px;\n    box-shadow: \n      inset hsla(210,100%,30%,  1) 0  0px 0px 2px, /* border */\n      inset hsla(210,100%,15%, .4) 0 -1px 3px 2px, /* soft SD */\n      inset hsla(210,100%,20%,.25) 0 -1px 0px 3px, /* bottom SD */\n      inset hsla(210,100%,100%,.7) 0  2px 1px 3px, /* top HL */\n      \n      hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */\n      hsla(210,50%,40%, .25) 0 -2px 3px 2px, /* outer SD */\n      hsla(210,80%,95%,   1) 0  2px 3px 2px; /* outer HL */\n  }   \n\n</style>\n\n<script>\n    scope.buttons = [{\n        icon: 'pause', color: 'black',\n        icon2: 'play_arrow', color2: 'red',\n        payload: 'play',\n    }, {\n        icon: 'alarm', color: 'black',\n        icon2: 'alarm', color2: 'red',\n        payload: 'alarm',\n    }];\n    \n    scope.click = function(b) {\n        var json = new Object();\n        json.cmd = 'opendoor';\n        json.ip  = b;\n        //this.msg.payload = json;\n        alert(b); \n    }.bind(scope);\n    //click(door.ip)\n</script>\n<div layout=\"column\" layout-fill >\n  <md-content>\n    <md-list-item ng-repeat=\"door in msg.payload\">\n        <div flex=\"40\" class=\"md-list-item-text\" layout=\"row\" md-colors=\"{color: 'red-A100'}\">\n            <a href=\"http://{{door.ip}}\" class=\"md-body-1\">{{door.doorname}}</a>\n        </div>\n        <div flex=\"40\" class=\"md-list-item-text\" layout=\"row\" md-colors=\"{color: 'red-A100'}\">\n            <i class=\"md-body-1\">{{door.ip}}</i>\n        </div>\n        <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\" md-colors=\"{color: 'red-A100'}\">\n            <i class=\"fa fa-trash\" aria-hidden=\"true\"  ng-click=\"send({payload:{cmd:'deletedoor',doorip:door.ip}})\"></i>\n        </div>\n        <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\" md-colors=\"{color: 'red-A100'}\">\n            <i class=\"fa fa-unlock\" aria-hidden=\"true\"  ng-click=\"send({payload:{cmd:'opendoor',doorip:door.ip}})\"></i>\n        </div>\n        <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\" md-colors=\"{color: 'red-A100'}\">\n            <i class=\"fa fa-download\" aria-hidden=\"true\"  ng-click=\"send({payload:{cmd:'getuser',doorip:door.ip}})\"></i>\n        </div>\n        <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\" md-colors=\"{color: 'red-A100'}\">\n            <i class=\"fa fa-upload\" aria-hidden=\"true\"  ng-click=\"send({payload:{cmd:'sync',doorip:door.ip}})\"></i>\n        </div>\n        <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\" md-colors=\"{color: 'red-A100'}\">\n            <i class=\"fa fa-times\" aria-hidden=\"true\"  ng-click=\"send({payload:{cmd:'deletusers',doorip:door.ip}})\"></i>\n        </div>\n    </md-list-item>\n  </md-content>\n</div>\n\n\n  \n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":690,"y":100,"wires":[["6858bb68.fe4394"]]},{"id":"29c8e329.ffec9c","type":"function","z":"e58caaca.87f878","name":"20*users","func":"msg.topic = \"Select * from users;\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["fe46e328.231c7"]]},{"id":"439e8496.8115dc","type":"ui_template","z":"e58caaca.87f878","group":"d014f62a.8261f8","name":"GUI USER LIST","order":1,"width":"12","height":"10","format":"<div layout=\"column\" layout-fill >\n  <md-content>\n    <md-list-item ng-repeat=\"users in msg.payload\">\n         <div flex=\"15\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\">{{users.uuid}}</i>\n         </div>\n         <div flex=\"40\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\">{{users.user}}</i>\n         </div>\n         <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\">{{users.acctype}}</i>\n         </div>\n         <div flex=\"20\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\">{{users.validuntil * 1000 |  date:'MM/dd/yyyy'}}</i>\n         </div>\n         <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"fa fa-trash\" aria-hidden=\"true\" ng-click=\"send({payload:{cmd:'delete',user:users.uuid}})\"></i>\n         </div>\n         <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\" ng-click=\"editUser(users)\"></i>\n         </div>\n    </md-list-item>\n    <md-button type=\"submit\" class=\"md-primary\" ng-click=\"send({payload:{cmd:'syncall'}})\">Sync to all Readers</md-button>\n  </md-content>\n</div>\n\n\n<!-- The Modal -->\n<div id=\"userModal\" class=\"modal\">\n  <!-- Modal content -->\n  <div class=\"modal-content\">\n    <div class=\"modal-header\">\n      <span class=\"close\">&times;</span>\n      <span class=\"dialogheader\">Add User Access</span>\n    </div>\n    <div class=\"modal-body\">\n        <label class=\"infotext\">Some text in the Modal Body</label>\n        <form name=\"useraddForm\">\n         <div layout-gt-xs=\"row\" md-theme=\"docs-dark\" layout-padding=\"\">\n            <md-input-container class=\"md-block\" flex-gt-xs=\"\">\n                <label>RFID UUID</label>\n                <input type=\"text\" ng-model=\"uid\"  name=\"uid\" id=\"uid\"  disabled=\"\" value=\"{{uid}}\">\n            </md-input-container>\n            <md-input-container class=\"md-block\" flex-gt-xs=\"\">\n                <label>Username:</label>\n                <input type=\"text\" class=\"md-body-1\"  ng-model=\"username\" name=\"username\" id=\"username\" required=\"\">\n                <div ng-messages=\"useraddForm.username.$error\">\n                    <div ng-message=\"required\">This is required.</div>\n                </div>\n            </md-input-container>\n        </div>\n        <div layout-gt-xs=\"row\" md-theme=\"docs-dark\" layout-padding=\"\">\n            <md-input-container class=\"md-block\" flex-gt-xs=\"\">\n                <label>Valid until</label>\n                <md-datepicker ng-model=\"validuntil\" name=\"validuntil\" id=\"validuntil\"  required=\"\">{{ validuntil | date : \"dd.MM.y\" }}</md-datepicker>\n            </md-input-container>\n            <md-input-container flex=\"50\">\n                <label>Project Type</label>\n                 <md-select name=\"type\" ng-model=\"accesstype\" required=\"\" class=\"dropdown-menu model-top\" id=\"accesstype\">\n                    <md-option class=\"dropdown-menu model-top\" value=\"user\">normal</md-option>\n                    <md-option class=\"dropdown-menu model-top\" value=\"admin\">admin</md-option>\n                </md-select>\n            </md-input-container>\n        </div>\n        <md-button type=\"submit\" class=\"md-primary\" ng-click=\"SendCloseUserDlg(msg)\">Add User</md-button>\n        </form>\n      </div>\n    </div>\n  </div>\n\n<script>\n(function($scope) {\n    $scope.editUser = function(users) {\n        //alert(\"UID:\"+users.uuid +\" user:\" +users.user);\n        $scope.uid = users.uuid;\n        $scope.username = users.user;\n        var date =  new Date( users.validuntil*1000).toDateString();\n        //var date = new Date(unix_timestamp*1000);\n        $scope.validuntil = date;\n        if (users.acctype==\"99\")\n            $scope.accesstype = \"admin\";\n        else\n            $scope.accesstype = \"user\";\n        modalUser.style.display = \"block\";\n    };\n    \n    \n    $scope.SendCloseUserDlg = function(unknownuser) {\n        var date = Date.parse($scope.validuntil);\n        $scope.send({payload:{cmd:'change',uuid:$scope.uid,user:$scope.username,valid:(date/1000),type:$scope.accesstype}});\n        modalUser.style.display = \"none\";\n    };\n    \n    $scope.changeDate = function(newDate){\n        $scope.validuntil =  newDate;\n    }\n})(scope);\n\n\n    // Get the modal\nvar modalUser = document.getElementById('userModal');\n\n// Get the button that opens the modal\nvar btn = document.getElementById(\"myBtn\");\n\n// Get the <span> element that closes the modal\nvar span = document.getElementsByClassName(\"close\")[0];\n\n\n// When the user clicks on <span> (x), close the modal\nspan.onclick = function() {\n    modalUser.style.display = \"none\";\n}\n\n</script>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":680,"y":260,"wires":[["8df15f64.184e7"]]},{"id":"fe46e328.231c7","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":380,"y":260,"wires":[["439e8496.8115dc","d0939f58.3364a","ce131dae.bd61"]]},{"id":"38fcd50b.10dbea","type":"function","z":"e58caaca.87f878","name":"DEL USER","func":"if (msg.payload.cmd==\"delete\"){\n    msg.topic   = \"DELETE FROM users WHERE uuid='\"+msg.payload.user+\"';\";\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1110,"y":220,"wires":[["e4974e44.759f1"]]},{"id":"e4974e44.759f1","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":1380,"y":260,"wires":[["4fa594ec.00d79c"]]},{"id":"6858bb68.fe4394","type":"switch","z":"e58caaca.87f878","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"getuser","vt":"str"},{"t":"eq","v":"opendoor","vt":"str"},{"t":"eq","v":"sync","vt":"str"},{"t":"eq","v":"deletusers","vt":"str"},{"t":"eq","v":"deletedoor","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":910,"y":100,"wires":[["7c7df0b4.38824"],["7c7df0b4.38824"],["1bfe31d7.344e6e"],["7c7df0b4.38824"],["36eeb960.f708e6"]]},{"id":"23136560.9698aa","type":"cast-to-client","z":"e58caaca.87f878","name":"Google Home Voice MSG","url":"","contentType":"","message":"","language":"de","ip":"192.168.2.60","port":"","volume":"50","x":1090,"y":1160,"wires":[[]]},{"id":"9d77a9ac.db2cb8","type":"google-tts","z":"e58caaca.87f878","name":"TextToSpeech","inputField":"payload","inputFieldType":"msg","outputField":"url","outputFieldType":"msg","languageField":"de","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":840,"y":1160,"wires":[["23136560.9698aa"]]},{"id":"11019b5f.b90fd5","type":"function","z":"e58caaca.87f878","name":"Check if user is known","func":"// Access log on node-red\nif ((msg.payload.type == \"access\") && (msg.payload.isKnown == \"true\")){\n    if (msg.payload.cmd == \"log\"){\n        msg.topic = \"INSERT INTO accesslog (uid, type, isknown, username,door,time) VALUES ('\"+msg.payload.uid+\"','\"+msg.payload.type+\"',\"+msg.payload.isKnown+\",'\"+msg.payload.username+\"','\"+msg.payload.door+\"','\"+msg.payload.time+\"')\";\n    }\n    msg.payload = msg.payload.door + \" opened by \" + msg.payload.username;\n    return msg;\n}\n// adding event\nelse if(msg.payload.cmd == \"event\"){\n    msg.topic = \"INSERT INTO events (type, src, description, data,time,door) VALUES ('\"+msg.payload.type+\"','\"+msg.payload.src+\"','\"+msg.payload.desc+\"','\"+msg.payload.data+\"','\"+msg.payload.time+\"','\"+msg.payload.door +\"')\";\n    msg.payload = \"\";\n    return msg;\n}\n// user unknown with out log\nelse if((msg.payload.type == \"access\") &&(msg.payload.isKnown==\"false\"))\n{\n    // user unknown adding to newuser db\n    if (msg.payload.cmd == \"log\"){\n        msg.topic = \"INSERT INTO accesslog (uid, type, isknown, username,door,time) VALUES ('\"+msg.payload.uid+\"','\"+msg.payload.type+\"',\"+msg.payload.isKnown+\",'\"+msg.payload.username+\"','\"+msg.payload.door+\"','\"+msg.payload.time+\"');\" + \" INSERT INTO newuser (uid, type, isknown, username,door,time) VALUES ('\"+msg.payload.uid+\"','\"+msg.payload.type+\"',\"+msg.payload.isKnown+\",'\"+msg.payload.username+\"','\"+msg.payload.door+\"','\"+msg.payload.time+\"');\";\n    }\n    else{\n        msg.topic = \"INSERT INTO newuser (uid, type, isknown, username,door,time) VALUES ('\"+msg.payload.uid+\"','\"+msg.payload.type+\"',\"+msg.payload.isKnown+\",'\"+msg.payload.username+\"','\"+msg.payload.door+\"','\"+msg.payload.time+\"')\";\n    }\n    msg.payload = \"Access denied, user unknown\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":400,"y":1160,"wires":[["d1048904.5df258","bd976f7b.ecafb"]]},{"id":"a128ee5b.1c0c3","type":"http in","z":"e58caaca.87f878","name":"opendoor","url":"/opendoor","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1300,"wires":[["cb122cf6.aaf16"]]},{"id":"cb122cf6.aaf16","type":"function","z":"e58caaca.87f878","name":"VOICE DOOR OPEN","func":"var doors = flow.get(\"doors\");\nvar voiceDoor = \"\";\nvar sysDoor = \"\"; \nvoiceDoor = msg.payload.obj;\n\nfor (index = 0; index < doors.length; ++index) {\n  sysDoor = doors[index].doorname.toString().toLowerCase();\n  voiceDoor = voiceDoor.toLowerCase();\n  if (sysDoor==voiceDoor)\n  {\n     msg.payload.cmd = \"opendoor\";\n     msg.payload.doorip = doors[index].ip.toString();\n     return msg;\n  }\n // msg.payload = sysDoor +\" \" +voiceDoor;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":380,"y":1300,"wires":[["69012848.a34bd8"]]},{"id":"a6bc0999.674028","type":"function","z":"e58caaca.87f878","name":"SET doors","func":"flow.set(\"doors\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[[]]},{"id":"ed24c901.289058","type":"ui_template","z":"e58caaca.87f878","group":"81723d16.c883a","name":"GUI NEW USERS","order":1,"width":"0","height":"0","format":"<style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n\n/* The Modal (background) */\n.modal {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    opacity:0.99;\n    z-index: 100; /* Sit on top */\n    padding-top: 100px; /* Location of the box */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color:  rgba(0,0,0,0.99) /* Fallback color */\n    background-color: rgba(0,0,0,0.99); /* Black w/ opacity */\n}\n/* Modal Content */\n.modal-content {\n    position: relative;\n    background-color: #fefefe;\n    margin: auto;\n    padding: 0;\n    border: 0px solid #FFFFFF;\n    width: 50%;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    -webkit-animation-duration: 0.4s;\n    animation-name: animatetop;\n    animation-duration: 0.4s\n}\n\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top:-300px; opacity:0} \n    to {top:0; opacity:1}\n}\n\n@keyframes animatetop {\n    from {top:-300px; opacity:0}\n    to {top:0; opacity:1}\n}\n\n/* The Close Button */\n.close {\n    color: white;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n    color: #000;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n.modal-header {\n    padding: 0px 0px;\n    background-color: #097479;\n}\n\n.modal-body {\n    padding: 10px 10px;\n    background-color: #097479;\n}\n\n.dropdown-menu.model-top{\n    z-index:101;\n}\n\n.md-select-menu-container { \n    z-index: 99999 !important; \n    \n}\n\n.infotext{\n    color: white;\n    background-color: #097479;\n}\n\n.dialogheader {\n    background-color: #222222 !important;\n    margin-top: 0px  !important;\n    margin-right: 0px;\n    margin-bottom: 0px  !important;\n    margin-left: 0px;\n    margin: 0px !important;\n}\n}\n\n</style>\n\n<div layout=\"column\" layout-fill >\n  <md-content>\n    <md-list-item ng-repeat=\"newusers in msg.payload\" id = $index ng-click=\"\">\n         <div flex=\"20\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\" >{{newusers.uid}}</i>\n         </div>\n         <div flex=\"20\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\" contenteditable=\"true\">{{newusers.user}}unknown</i>\n         </div>\n         <div flex=\"20\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\" contenteditable=\"true\">{{newusers.door}}</i>\n         </div>\n          <div flex=\"20\" class=\"md-list-item-text\" layout=\"row\">\n            <i class=\"md-body-1\">{{newusers.time * 1000 |  date:'MM/dd/yyyy'}}</i>\n         </div>\n         <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\">\n          <i class=\"fa fa-check-circle-o\" aria-hidden=\"true\" ng-click=\"addUidToDbRow(newusers)\"></i>\n         </div>\n         <div flex=\"10\" class=\"md-list-item-text\" layout=\"row\">\n          <i class=\"fa fa-trash\" aria-hidden=\"true\" ng-click=\"delteRow(newusers)\"></i>\n         </div>\n    </md-list-item>\n  </md-content>\n</div>\n\n\n<!-- The Modal -->\n<div id=\"myModal\" class=\"modal\">\n  <!-- Modal content -->\n  <div class=\"modal-content\">\n    <div class=\"modal-header\">\n      <span class=\"close\">&times;</span>\n      <span class=\"dialogheader\">Add User Access</span>\n    </div>\n    <div class=\"modal-body\">\n        <label class=\"infotext\">Some text in the Modal Body</label>\n        <form name=\"useraddForm\">\n         <div layout-gt-xs=\"row\" md-theme=\"docs-dark\" layout-padding=\"\">\n            <md-input-container class=\"md-block\" flex-gt-xs=\"\">\n                <label>RFID UUID</label>\n                <input type=\"text\" ng-model=\"uid\"  name=\"uid\" id=\"uid\"  disabled=\"\" value=\"{{newusers.uid}}\">{{newusers.uid}}\n            </md-input-container>\n            <md-input-container class=\"md-block\" flex-gt-xs=\"\">\n                <label>Username:</label>\n                <input type=\"text\" class=\"md-body-1\"  ng-model=\"username\" name=\"username\" id=\"username\" required=\"\">\n                <div ng-messages=\"useraddForm.username.$error\">\n                    <div ng-message=\"required\">This is required.</div>\n                </div>\n            </md-input-container>\n        </div>\n        <div layout-gt-xs=\"row\" md-theme=\"docs-dark\" layout-padding=\"\">\n            <md-input-container class=\"md-block\" flex-gt-xs=\"\">\n                <label>Valid until</label>\n                <md-datepicker ng-model=\"validuntil\" name=\"validuntil\" id=\"validuntil\"  required=\"\">{{ validuntil | date : \"dd.MM.y\" }}</md-datepicker>\n            </md-input-container>\n            <md-input-container flex=\"50\">\n                <label>Project Type</label>\n                 <md-select name=\"type\" ng-model=\"accesstype\" required=\"\" class=\"dropdown-menu model-top\" id=\"accesstype\">\n                    <md-option class=\"dropdown-menu model-top\" value=\"user\">normal</md-option>\n                    <md-option class=\"dropdown-menu model-top\" value=\"admin\">admin</md-option>\n                </md-select>\n            </md-input-container>\n        </div>\n        <md-button type=\"submit\" class=\"md-primary\" ng-click=\"SendCloseUserDlg(msg)\">Add User</md-button>\n        </form>\n      </div>\n    </div>\n  </div>\n\n<script>\n(function($scope) {\n    $scope.delteRow = function(unknownuser) {\n        $scope.send({payload:{cmd:'delete',uuid:unknownuser.uid}});\n    };\n    \n    $scope.addUidToDbRow = function(unknownuser) {\n        // alert(\"UID:\"+unknownuser.uid +\" user:\" +$scope.username+\" valid:\" + $scope.validuntil+\" access:\"+$scope.accesstype);\n        $scope.uid = unknownuser.uid;\n        modal.style.display = \"block\";\n    };\n    $scope.SendCloseUserDlg = function(unknownuser) {\n        //alert(\"close\" + unknownuser.payload.uid);\n        //var uid         = document.getElementById(\"uid\").value;\n        //var username    = document.getElementById(\"username\").value;\n        //var validuntil  = document.getElementById(\"validuntil\").value;\n        //var accesstype  = document.getElementById(\"accesstype\").value;\n         \n        //alert(\"UID:\"+$scope.uid +\" user:\" +$scope.username+\" valid:\" + $scope.validuntil+\" access:\"+$scope.accesstype);\n        var date = Date.parse($scope.validuntil);\n   \n        $scope.send({payload:{cmd:'add',uuid:$scope.uid,user:$scope.username,valid:(date/1000),type:$scope.accesstype}});\n        modal.style.display = \"none\";\n    };\n    $scope.changeDate = function(newDate){\n        $scope.validuntil =  newDate;\n    }\n})(scope);\n\n\n    // Get the modal\nvar modal = document.getElementById('myModal');\n\n// Get the button that opens the modal\nvar btn = document.getElementById(\"myBtn\");\n\n// Get the <span> element that closes the modal\nvar span = document.getElementsByClassName(\"close\")[0];\n\n\n// When the user clicks on <span> (x), close the modal\nspan.onclick = function() {\n    modal.style.display = \"none\";\n}\n\n</script>\n\n\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":690,"y":520,"wires":[["6f0943c8.d0bd3c"]]},{"id":"cd39430d.76138","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door-userUnknown","x":430,"y":520,"wires":[["ed24c901.289058"]]},{"id":"4bc142d8.6df07c","type":"function","z":"e58caaca.87f878","name":"30*newusers","func":"msg.topic = \"Select * from newuser\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":210,"y":520,"wires":[["cd39430d.76138"]]},{"id":"36eeb960.f708e6","type":"function","z":"e58caaca.87f878","name":"Delete Door","func":"msg.topic = \"DELETE FROM readers WHERE ip='\"+msg.payload.doorip+\"';\";\nflow.set(\"doorip\", msg.payload.doorip);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":120,"wires":[["5d517a41.a02d54"]]},{"id":"5d517a41.a02d54","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":1355,"y":120,"wires":[["c17a14e9.d5ac78"]],"l":false},{"id":"e8e0a706.d5c328","type":"link in","z":"e58caaca.87f878","name":"L_10","links":["c17a14e9.d5ac78","fe896894.b781d8"],"x":75,"y":100,"wires":[["f30ad381.1c4f3"]]},{"id":"c17a14e9.d5ac78","type":"link out","z":"e58caaca.87f878","name":"","links":["e8e0a706.d5c328"],"x":1515,"y":120,"wires":[]},{"id":"fb77a3a5.de91c","type":"link in","z":"e58caaca.87f878","name":"L_20","links":["e5f077f.d8e8488","4fa594ec.00d79c","56ffea72.572c74"],"x":75,"y":260,"wires":[["29c8e329.ffec9c"]]},{"id":"4fa594ec.00d79c","type":"link out","z":"e58caaca.87f878","name":"","links":["fb77a3a5.de91c"],"x":1515,"y":260,"wires":[]},{"id":"fe896894.b781d8","type":"link out","z":"e58caaca.87f878","name":"","links":["e8e0a706.d5c328"],"x":695,"y":900,"wires":[]},{"id":"e5f077f.d8e8488","type":"link out","z":"e58caaca.87f878","name":"","links":["fb77a3a5.de91c"],"x":915,"y":1020,"wires":[]},{"id":"1bfe31d7.344e6e","type":"link out","z":"e58caaca.87f878","name":"","links":["134e600e.cb6a8"],"x":1255,"y":80,"wires":[]},{"id":"134e600e.cb6a8","type":"link in","z":"e58caaca.87f878","name":"L_100","links":["1bfe31d7.344e6e","f0c30573.06f1f8"],"x":95,"y":780,"wires":[["c485ab60.d6f168"]]},{"id":"36e9027d.7bc6ee","type":"link in","z":"e58caaca.87f878","name":"RFID_MQTT_OUT","links":["317ad8f8.aaa3f8","7c7df0b4.38824","69012848.a34bd8"],"x":95,"y":720,"wires":[["9ca83732.0bf528"]]},{"id":"7c7df0b4.38824","type":"link out","z":"e58caaca.87f878","name":"","links":["36e9027d.7bc6ee"],"x":1255,"y":40,"wires":[]},{"id":"317ad8f8.aaa3f8","type":"link out","z":"e58caaca.87f878","name":"","links":["36e9027d.7bc6ee"],"x":995,"y":680,"wires":[]},{"id":"69012848.a34bd8","type":"link out","z":"e58caaca.87f878","name":"","links":["36e9027d.7bc6ee"],"x":555,"y":1300,"wires":[]},{"id":"68077661.914e78","type":"comment","z":"e58caaca.87f878","name":"DB Selects for User, Readers to fill template","info":"","x":190,"y":60,"wires":[]},{"id":"390a5070.df133","type":"comment","z":"e58caaca.87f878","name":"Iterates over user and sends them over MQTT to a Device","info":"","x":250,"y":680,"wires":[]},{"id":"22e86a7.44e1e96","type":"comment","z":"e58caaca.87f878","name":"Recv Sync over MQTT and writs unknow Reader to DB","info":"","x":240,"y":860,"wires":[]},{"id":"1ae9cc44.7f2434","type":"comment","z":"e58caaca.87f878","name":"Recv userlist of a Reader and inserts into DB","info":"","x":210,"y":980,"wires":[]},{"id":"18bd1001.dbeff","type":"comment","z":"e58caaca.87f878","name":"Recv access event over MQTT","info":"","x":170,"y":1120,"wires":[]},{"id":"93abf524.6aa498","type":"comment","z":"e58caaca.87f878","name":"Google Voice Command to open a door ","info":"","x":190,"y":1260,"wires":[]},{"id":"6f0943c8.d0bd3c","type":"switch","z":"e58caaca.87f878","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"delete","vt":"str"},{"t":"eq","v":"add","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":520,"wires":[["384f438a.a2c70c"],["829cb8bc.07cb98"]]},{"id":"384f438a.a2c70c","type":"function","z":"e58caaca.87f878","name":"SQL Del new user","func":"if (msg.payload.cmd==\"delete\"){\n    var uuid = msg.payload.uuid;\n    msg.payload = \"DELTE NEWUSER\"\n    msg.topic   = \"DELETE FROM newuser WHERE uid='\"+uuid+\"';\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":480,"wires":[["33ed90ca.2388b"]]},{"id":"33ed90ca.2388b","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":1400,"y":520,"wires":[["830dd1e5.7d1bc"]]},{"id":"ecb473ce.40963","type":"link in","z":"e58caaca.87f878","name":"L_30","links":["15104682.e46449","d707070e.1d90e8","d08ddee8.c00f4"],"x":75,"y":520,"wires":[["4bc142d8.6df07c"]]},{"id":"829cb8bc.07cb98","type":"function","z":"e58caaca.87f878","name":"SQL Add User for access","func":"if (msg.payload.cmd==\"add\"){\n    var uuid = msg.payload.uuid;\n    var name  = msg.payload.name;\n    var type = \"\";\n    if (msg.payload.type==\"admin\")\n        type = \"99\";\n    else\n        type = \"1\";\n    msg.topic = \"INSERT INTO users (uuid, user, acctype, validuntil) VALUES ('\"+msg.payload.uuid+\"','\"+msg.payload.user+\"','\"+type+\"','\"+msg.payload.valid+\"')\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1130,"y":540,"wires":[["58e4f58f.a2b37c","33ed90ca.2388b"]]},{"id":"56ffea72.572c74","type":"link out","z":"e58caaca.87f878","name":"","links":["fb77a3a5.de91c"],"x":1695,"y":540,"wires":[]},{"id":"c9669c3a.41e3","type":"inject","z":"e58caaca.87f878","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":340,"wires":[["4bc142d8.6df07c","29c8e329.ffec9c","f30ad381.1c4f3"]]},{"id":"58e4f58f.a2b37c","type":"function","z":"e58caaca.87f878","name":"40 SQL Del newuser ","func":"if (msg.payload.cmd==\"add\"){\n    var uuid = msg.payload.uuid;\n    msg.topic   = \"DELETE FROM newuser WHERE uid='\"+uuid+\"';\";\n }\nreturn msg;\n","outputs":1,"noerr":0,"x":1120,"y":600,"wires":[["33ed90ca.2388b"]]},{"id":"74610fcc.51fc4","type":"function","z":"e58caaca.87f878","name":"20*users","func":"msg.topic = \"Select * from users;\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1180,"y":940,"wires":[["cee369c4.fe2848"]]},{"id":"cee369c4.fe2848","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":1340,"y":940,"wires":[["db15b51e.637dc8"]]},{"id":"96df6259.23d2e","type":"json","z":"e58caaca.87f878","name":"","property":"payload","action":"str","pretty":true,"x":1650,"y":940,"wires":[["fb82e689.e64818"]]},{"id":"29ad3ee3.f88542","type":"inject","z":"e58caaca.87f878","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":940,"wires":[["74610fcc.51fc4","6c141aa.d7208e4"]]},{"id":"fb82e689.e64818","type":"function","z":"e58caaca.87f878","name":"","func":"flow.set(\"RFID_Users\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":940,"wires":[[]]},{"id":"6c141aa.d7208e4","type":"function","z":"e58caaca.87f878","name":"20*users","func":"msg.topic = \"Select * from readers;\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1180,"y":1000,"wires":[["cee369c4.fe2848"]]},{"id":"9e63c4c6.a1d6b8","type":"json","z":"e58caaca.87f878","name":"","property":"payload","action":"str","pretty":true,"x":1650,"y":1000,"wires":[["a2419a76.246538"]]},{"id":"a2419a76.246538","type":"function","z":"e58caaca.87f878","name":"","func":"flow.set(\"RFID_readers\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":1000,"wires":[[]]},{"id":"8df15f64.184e7","type":"switch","z":"e58caaca.87f878","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"delete","vt":"str"},{"t":"eq","v":"change","vt":"str"},{"t":"eq","v":"syncall","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":260,"wires":[["38fcd50b.10dbea"],["431c8eda.159bd"],["3f8ed3e3.873b9c"]]},{"id":"431c8eda.159bd","type":"function","z":"e58caaca.87f878","name":"CHANGE USER","func":"if (msg.payload.cmd==\"change\"){\n    var type = \"\";\n    if (msg.payload.type==\"admin\")\n        type = \"99\";\n    else\n        type = \"1\";\n    msg.topic = \"REPLACE INTO users (uuid, user, acctype, validuntil) VALUES ('\"+msg.payload.uuid+\"','\"+msg.payload.user+\"','\"+type+\"','\"+msg.payload.valid+\"')\";\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1120,"y":260,"wires":[["e4974e44.759f1"]]},{"id":"3f8ed3e3.873b9c","type":"function","z":"e58caaca.87f878","name":"SYNC al RFID Reader with DB","func":"// Send Userlist to all rfid readers\nmsg.payload = flow.get(\"RFID_Readers\");\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1170,"y":380,"wires":[["d6cd17f1.704898"]]},{"id":"d0939f58.3364a","type":"function","z":"e58caaca.87f878","name":"FLOW Set RFID_Users","func":"flow.set(\"RFID_Users\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":300,"wires":[[]]},{"id":"189c51ef.ea397e","type":"function","z":"e58caaca.87f878","name":"FLOW Set RFID_Readers","func":"flow.set(\"RFID_Readers\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[[]]},{"id":"36f2dbfe.c3efb4","type":"function","z":"e58caaca.87f878","name":"IterateReaders","func":"msg.payload.doorip = msg.payload.ip;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":320,"wires":[["d6cd17f1.704898","f0c30573.06f1f8"]]},{"id":"d6cd17f1.704898","type":"Serial Iterator","z":"e58caaca.87f878","name":"REARDE ITER","property":"payload","inputFlow":"input","saveOutput":1,"recursive":0,"storeId":0,"x":1440,"y":380,"wires":[["9f75ecfe.f52bc"],[]]},{"id":"9f75ecfe.f52bc","type":"delay","z":"e58caaca.87f878","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660,"y":380,"wires":[["36f2dbfe.c3efb4"]]},{"id":"f0c30573.06f1f8","type":"link out","z":"e58caaca.87f878","name":"","links":["134e600e.cb6a8"],"x":1635,"y":320,"wires":[]},{"id":"45f2ae55.42edc","type":"inject","z":"e58caaca.87f878","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":180,"wires":[["f30ad381.1c4f3","29c8e329.ffec9c","4bc142d8.6df07c"]]},{"id":"2470a523.5e386a","type":"cast-to-client","z":"e58caaca.87f878","name":"Google Home Voice MSG","url":"","contentType":"","message":"","language":"de","ip":"192.168.2.59","port":"","volume":"100","x":1090,"y":1220,"wires":[[]]},{"id":"74bee42b.05003c","type":"google-tts","z":"e58caaca.87f878","name":"TextToSpeech","inputField":"payload","inputFieldType":"msg","outputField":"url","outputFieldType":"msg","languageField":"de","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":840,"y":1220,"wires":[["2470a523.5e386a"]]},{"id":"8cd6dd4.a29c62","type":"comment","z":"e58caaca.87f878","name":"event DB create","info":"CREATE TABLE `esp-door`. ( `id` SERIAL NOT NULL , `type` VARCHAR(20) NOT NULL , `src` VARCHAR(20) NOT NULL , `description` VARCHAR(40) NOT NULL , `data` VARCHAR(20) NOT NULL , `time` TIMESTAMP NOT NULL ) ENGINE = InnoDB;","x":120,"y":1400,"wires":[]},{"id":"d1048904.5df258","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":600,"y":1120,"wires":[["d08ddee8.c00f4"]]},{"id":"65f09779.0c4e58","type":"ui_list","z":"e58caaca.87f878","group":"75400e48.d89bb","name":"LIST_ACCESS","order":7,"width":"12","height":"11","lineType":"two","actionType":"click","allowHTML":true,"x":1320,"y":2160,"wires":[[]]},{"id":"2922b53c.84bf8a","type":"inject","z":"e58caaca.87f878","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":2040,"wires":[["7aeb8661.bbaca8"]]},{"id":"3060b4fa.3500fc","type":"comment","z":"e58caaca.87f878","name":"Loogging Display on GUI","info":"","x":150,"y":1460,"wires":[]},{"id":"e553c1f8.3e456","type":"function","z":"e58caaca.87f878","name":"PREPARE ACCESS LOG","func":"\n\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};\n\nvar optionsTime = { timeZone:\"Europe/Berlin\", hour12 : false, hour:  \"2-digit\", minute: \"2-digit\", second: \"2-digit\"};\n\ntablelog=[];\n\nfor (index = 0; index < msg.payload.length; ++index) {\n    var json = new Object();\n    var datum =  new Date( msg.payload[index].time*1000);\n    json.title = datum.toLocaleDateString(\"de-DE\", options) + \" \" + datum.toLocaleTimeString(\"de-DE\",optionsTime);\n    json.description=\"User: \" +msg.payload[index].username +\" - Door: \" + msg.payload[index].door;\n    if (msg.payload[index].isknown == 1)\n        json.icon=\"http://192.168.2.110/img/unlock.png\";\n    else\n        json.icon=\"http://192.168.2.110/img/lock.png\";\n    tablelog.push(json);\n}\nmsg.payload = tablelog;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1070,"y":2180,"wires":[["65f09779.0c4e58","ec633b8.db91ec8"]]},{"id":"ec633b8.db91ec8","type":"debug","z":"e58caaca.87f878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":2200,"wires":[]},{"id":"840600df.a308b","type":"ui_list","z":"e58caaca.87f878","group":"783c4918.a3c438","name":"LIST_EVENTS","order":7,"width":"12","height":"11","lineType":"two","actionType":"click","allowHTML":true,"x":1320,"y":1760,"wires":[[]]},{"id":"ac41700.fdfe39","type":"inject","z":"e58caaca.87f878","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":1660,"wires":[["da12856f.49e7a8"]]},{"id":"e7a9b02.631cd5","type":"function","z":"e58caaca.87f878","name":"PREPARE EVENTS LOG","func":"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};\nvar optionsTime = { timeZone:\"Europe/Berlin\", hour12 : false, hour:  \"2-digit\", minute: \"2-digit\", second: \"2-digit\"};\ntablelog=[];\n\nfor (index = 0; index < msg.payload.length; ++index) {\n    var json = new Object();\n    var datum =  new Date( msg.payload[index].time*1000);\n    json.title = datum.toLocaleDateString(\"de-DE\", options) + \" \" + datum.toLocaleTimeString(\"de-DE\",optionsTime);\n    json.description=msg.payload[index].type +\" \"+ msg.payload[index].src +\" \"+ msg.payload[index].description +\" \"+ msg.payload[index].data  +\" - Door: \" + msg.payload[index].door ;\n    \n    if (msg.payload[index].type == \"INFO\")\n        json.icon=\"http://192.168.2.110/img/info.png\";\n    else if (msg.payload[index].type == \"WARN\")\n        json.icon=\"http://192.168.2.110/img/warn.png\";\n    else\n        json.icon=\"http://192.168.2.110/img/warn.png\";\n        \n    tablelog.push(json);\n}\nmsg.payload = tablelog;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1070,"y":1780,"wires":[["840600df.a308b","a4e0163e.9f52f8"]]},{"id":"647e60c2.1d5ed","type":"debug","z":"e58caaca.87f878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":1640,"wires":[]},{"id":"ea3c5100.87036","type":"ui_button","z":"e58caaca.87f878","name":"","group":"783c4918.a3c438","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"refresh","payloadType":"str","topic":"","x":100,"y":1600,"wires":[["da12856f.49e7a8"]]},{"id":"18183b2d.9c83a5","type":"ui_button","z":"e58caaca.87f878","name":"","group":"783c4918.a3c438","order":5,"width":"3","height":"1","passthru":false,"label":"Del Log","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1300,"y":1520,"wires":[["bf1053e2.58d2d"]]},{"id":"d3484843.056ea8","type":"ui_button","z":"e58caaca.87f878","name":"","group":"783c4918.a3c438","order":2,"width":"1","height":"1","passthru":false,"label":"<<","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1290,"y":1580,"wires":[["a88de6de.5aefc8"]]},{"id":"26feb5dc.36479a","type":"ui_button","z":"e58caaca.87f878","name":"","group":"783c4918.a3c438","order":4,"width":"1","height":"1","passthru":false,"label":">>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1290,"y":1700,"wires":[["ae07a072.3805b"]]},{"id":"4b7dfb7e.4b7a64","type":"ui_text","z":"e58caaca.87f878","group":"783c4918.a3c438","order":3,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1290,"y":1640,"wires":[]},{"id":"da12856f.49e7a8","type":"function","z":"e58caaca.87f878","name":"REFRESH EVENTS","func":"msg.topic = \"SELECT COUNT(*) FROM events;\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1600,"wires":[["6d2703f9.2343cc"]]},{"id":"6d2703f9.2343cc","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":280,"y":1800,"wires":[["dc200ba0.895f08"]]},{"id":"f9f5309d.87e5e","type":"function","z":"e58caaca.87f878","name":"Set Context page count","func":"var counter = msg.payload[0]['COUNT(*)'];\nvar page = 10;\n\nvar page_count = Math.trunc(counter / page);\nflow.set(\"page_size\",page);\nflow.set(\"page_count_events\", page_count);\nflow.set(\"page_sel_events\",0);\nvar limit = \"0,\"+page;\n\nmsg.payload = \"0 of \"+page_count;\nmsg.topic = \"SELECT * FROM events ORDER BY id DESC LIMIT \"+limit;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1600,"wires":[["4b7dfb7e.4b7a64","3e790b56.186bb4"]]},{"id":"3e790b56.186bb4","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":860,"y":1780,"wires":[["e7a9b02.631cd5"]]},{"id":"a88de6de.5aefc8","type":"function","z":"e58caaca.87f878","name":"modify page count","func":"pagesize   = flow.get(\"page_size\");\npage_count = flow.get(\"page_count_events\");\n//var page_count = Math.trunc(page_count / pagesize);\npage       = flow.get(\"page_sel_events\");\n\npage = page - 1;\n\nif (page < 0){\n    page = page_count;    \n}\nlimit = pagesize*(page) +\",\"+pagesize;\n\nflow.set(\"page_sel_events\",page)\nmsg.payload = page +\" of \"+ page_count;\nmsg.topic = \"SELECT * FROM events ORDER BY id DESC LIMIT \"+limit;\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1580,"wires":[["4b7dfb7e.4b7a64","647e60c2.1d5ed","3db6b3e7.349b5c"]]},{"id":"ae07a072.3805b","type":"function","z":"e58caaca.87f878","name":"modify page count","func":"pagesize   = flow.get(\"page_size\");\npage_count = flow.get(\"page_count_events\");\n//var page_count = Math.trunc(page_count / pagesize);\npage       = flow.get(\"page_sel_events\");\n\npage = page + 1;\nif (page > page_count){\n    page = 0;\n    limit = pagesize*page +\",\"+pagesize;\n}else{\n    limit = pagesize*page +\",\"+pagesize;\n}\n\nflow.set(\"page_sel_events\",page)\nmsg.payload = msg.payload = page +\" of \"+ page_count;\nmsg.topic = \"SELECT * FROM events ORDER BY id DESC LIMIT \"+limit;\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1700,"wires":[["4b7dfb7e.4b7a64","647e60c2.1d5ed","3db6b3e7.349b5c"]]},{"id":"f32af9eb.4e4d58","type":"debug","z":"e58caaca.87f878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":2040,"wires":[]},{"id":"15a5eb9.ecf8b14","type":"ui_button","z":"e58caaca.87f878","name":"","group":"75400e48.d89bb","order":2,"width":"1","height":"1","passthru":false,"label":"<<","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1290,"y":1980,"wires":[["c5d91ec8.30c3b"]]},{"id":"8ffbdafb.860d48","type":"ui_button","z":"e58caaca.87f878","name":"","group":"75400e48.d89bb","order":4,"width":"1","height":"1","passthru":false,"label":">>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1290,"y":2100,"wires":[["d2c1687d.b0f218"]]},{"id":"29d9d94f.c65b16","type":"ui_text","z":"e58caaca.87f878","group":"75400e48.d89bb","order":3,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1290,"y":2040,"wires":[]},{"id":"c5d91ec8.30c3b","type":"function","z":"e58caaca.87f878","name":"modify page count","func":"pagesize   = flow.get(\"page_size_access\");\npage_count = flow.get(\"page_count_events_access\");\n//var page_count = Math.trunc(page_count / pagesize);\npage       = flow.get(\"page_sel_events_access\");\n\npage = page - 1;\n\nif (page < 0){\n    page = page_count;    \n}\nlimit = pagesize*(page) +\",\"+pagesize;\n\nflow.set(\"page_sel_events_access\",page)\nmsg.payload = page +\" of \"+ page_count;\nmsg.topic = \"SELECT * FROM accesslog ORDER BY id DESC LIMIT \"+limit;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1980,"wires":[["29d9d94f.c65b16","f32af9eb.4e4d58","a37d4815.1d22b8"]]},{"id":"d2c1687d.b0f218","type":"function","z":"e58caaca.87f878","name":"modify page count","func":"pagesize   = flow.get(\"page_size_access\");\npage_count = flow.get(\"page_count_events_access\");\n//var page_count = Math.trunc(page_count / pagesize);\npage       = flow.get(\"page_sel_events_access\");\n\npage = page + 1;\nif (page > page_count){\n    page = 0;\n    limit = pagesize*page +\",\"+pagesize;\n}else{\n    limit = pagesize*page +\",\"+pagesize;\n}\n\nflow.set(\"page_sel_events_access\",page)\nmsg.payload = msg.payload = page +\" of \"+ page_count;\nmsg.topic = \"SELECT * FROM accesslog ORDER BY id DESC LIMIT \"+limit;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2100,"wires":[["29d9d94f.c65b16","f32af9eb.4e4d58","a37d4815.1d22b8"]]},{"id":"98b1871f.bb42a8","type":"ui_button","z":"e58caaca.87f878","name":"","group":"75400e48.d89bb","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"refresh","payloadType":"str","topic":"","x":100,"y":1980,"wires":[["7aeb8661.bbaca8"]]},{"id":"7aeb8661.bbaca8","type":"function","z":"e58caaca.87f878","name":"REFRESH ACCESSLOG","func":"msg.topic = \"SELECT COUNT(*) FROM accesslog;\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1980,"wires":[["6d2703f9.2343cc"]]},{"id":"1e4c65f9.0ddefa","type":"function","z":"e58caaca.87f878","name":"Set Context page count","func":"var counter = msg.payload[0]['COUNT(*)'];\nvar page = 10;\n\nvar page_count = Math.trunc(counter / page);\nflow.set(\"page_size_access\",page);\nflow.set(\"page_count_events_access\", page_count);\nflow.set(\"page_sel_events_access\",0);\nvar limit = \"0,\"+page;\n\nmsg.payload = \"0 of \"+page_count;\nmsg.topic = \"SELECT * FROM accesslog ORDER BY id DESC LIMIT \"+limit;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1980,"wires":[["a58e3782.ae3e58","29d9d94f.c65b16"]]},{"id":"a58e3782.ae3e58","type":"mysql","z":"e58caaca.87f878","mydb":"1f7f9b2a.3e1fb5","name":"esp-door","x":860,"y":2180,"wires":[["e553c1f8.3e456"]]},{"id":"a4e0163e.9f52f8","type":"debug","z":"e58caaca.87f878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1800,"wires":[]},{"id":"55ce14a9.ea9cfc","type":"ui_button","z":"e58caaca.87f878","name":"","group":"75400e48.d89bb","order":5,"width":"3","height":"1","passthru":false,"label":"Del Log","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1300,"y":1920,"wires":[["1bd591d6.dc01ee"]]},{"id":"1bd591d6.dc01ee","type":"function","z":"e58caaca.87f878","name":"Delete ACCESSLOG","func":"msg.topic = \"TRUNCATE TABLE accesslog;\";\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":1920,"wires":[["a37d4815.1d22b8"]]},{"id":"bf1053e2.58d2d","type":"function","z":"e58caaca.87f878","name":"Delete EVENTSLOG","func":"msg.topic = \"TRUNCATE TABLE events;\";\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1520,"wires":[["3db6b3e7.349b5c"]]},{"id":"d08ddee8.c00f4","type":"link out","z":"e58caaca.87f878","name":"NEW_ENTRY_DB","links":["ecb473ce.40963","75fa4235.59f73c","c8e56edb.5c5bd"],"x":735,"y":1120,"wires":[]},{"id":"75fa4235.59f73c","type":"link in","z":"e58caaca.87f878","name":"","links":["d08ddee8.c00f4"],"x":55,"y":1540,"wires":[["da12856f.49e7a8"]]},{"id":"c8e56edb.5c5bd","type":"link in","z":"e58caaca.87f878","name":"","links":["d08ddee8.c00f4"],"x":55,"y":1920,"wires":[["7aeb8661.bbaca8"]]},{"id":"66a9377.e557ac8","type":"link in","z":"e58caaca.87f878","name":"TRIGGER_EVENT_DB","links":["3db6b3e7.349b5c"],"x":735,"y":1780,"wires":[["3e790b56.186bb4"]]},{"id":"3db6b3e7.349b5c","type":"link out","z":"e58caaca.87f878","name":"","links":["66a9377.e557ac8"],"x":1695,"y":1580,"wires":[]},{"id":"94abff5f.5ad85","type":"link in","z":"e58caaca.87f878","name":"TRIGGER_ACESSLOG_DB","links":["a37d4815.1d22b8"],"x":735,"y":2180,"wires":[["a58e3782.ae3e58"]]},{"id":"a37d4815.1d22b8","type":"link out","z":"e58caaca.87f878","name":"","links":["94abff5f.5ad85"],"x":1675,"y":1980,"wires":[]},{"id":"d2f0b5ca.7941c8","type":"debug","z":"e58caaca.87f878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1740,"y":460,"wires":[]},{"id":"830dd1e5.7d1bc","type":"switch","z":"e58caaca.87f878","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"DELETE FROM newuser WHERE uid","vt":"str"},{"t":"cont","v":"INSERT INTO users","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1550,"y":520,"wires":[["d2f0b5ca.7941c8","d707070e.1d90e8"],["56ffea72.572c74"]]},{"id":"d707070e.1d90e8","type":"link out","z":"e58caaca.87f878","name":"","links":["ecb473ce.40963"],"x":1695,"y":500,"wires":[]},{"id":"db15b51e.637dc8","type":"switch","z":"e58caaca.87f878","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Select * from users","vt":"str"},{"t":"cont","v":"INSERT INTO users","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1490,"y":940,"wires":[["96df6259.23d2e"],["9e63c4c6.a1d6b8"]]},{"id":"dc200ba0.895f08","type":"switch","z":"e58caaca.87f878","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"SELECT COUNT(*) FROM events","vt":"str"},{"t":"cont","v":"SELECT COUNT(*) FROM accesslog","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":1800,"wires":[["f9f5309d.87e5e"],["1e4c65f9.0ddefa"]]},{"id":"607b4ecf.3d6c6","type":"debug","z":"e58caaca.87f878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":1300,"wires":[]},{"id":"824f8e31.31318","type":"server-state-changed","z":"e58caaca.87f878","name":"Door Unlocked Manually","server":"804ed9ef.be45f8","version":1,"entityidfilter":"input_boolean.activate_door_lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":2380,"wires":[["d32404ca.e01878","64482dc8.b1d1c4"],[]]},{"id":"d32404ca.e01878","type":"change","z":"e58caaca.87f878","name":"Set MQTT Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"cmd\":\"opendoor\",\"doorip\":\"192.168.5.60\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2380,"wires":[["280b51a0.3e30be"]]},{"id":"280b51a0.3e30be","type":"function","z":"e58caaca.87f878","name":"Set Topic","func":"msg.topic = \"rfid\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":2380,"wires":[["a84830a7.25e8a"]]},{"id":"a84830a7.25e8a","type":"mqtt out","z":"e58caaca.87f878","name":"Publish MQTT","topic":"","qos":"","retain":"","broker":"288b1968.f16fd6","x":840,"y":2380,"wires":[]},{"id":"64482dc8.b1d1c4","type":"stoptimer","z":"e58caaca.87f878","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":160,"y":2460,"wires":[["1fd177a8.824828"],[]]},{"id":"1fd177a8.824828","type":"api-call-service","z":"e58caaca.87f878","name":"Reset Switch","server":"804ed9ef.be45f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.activate_door_lock\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":2460,"wires":[[]]},{"id":"f474554b.b7ed98","type":"ha-get-entities","z":"ea085f5a.23cdf","server":"804ed9ef.be45f8","name":"Get User","rules":[{"property":"attributes.user_id","logic":"is","value":"payload","valueType":"msg"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":760,"y":80,"wires":[["73f793d0.168a1c"]]},{"id":"6046cc5f.d112d4","type":"server-events","z":"ea085f5a.23cdf","name":"Monitor All Events","server":"804ed9ef.be45f8","event_type":"","x":150,"y":80,"wires":[["1586b3f4.e80fbc"]]},{"id":"73f793d0.168a1c","type":"function","z":"ea085f5a.23cdf","name":"Extract Person Friendly Name","func":"msg.payload = msg.payload[0].attributes.friendly_name;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":80,"wires":[["ff5bddb3.d118e"]]},{"id":"9f8f9d18.de06f","type":"debug","z":"ea085f5a.23cdf","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":140,"wires":[]},{"id":"1586b3f4.e80fbc","type":"function","z":"ea085f5a.23cdf","name":"If State Changed is changed by User","func":"if (msg.payload.event_type == \"state_changed\") { // Only look at 'state changes'\n    if (msg.payload.event.new_state.context.user_id === null) { // If not initiated by a registered HA user, stop the flow.\n        return;\n    } else { // Otherwise, do the following\n        var entity = msg.payload.event.new_state.attributes.friendly_name; // Store the friendly name of the entity changed.\n        flow.set(\"previous_state\", msg.payload.event.old_state.state); // Store the previous state value in a flow variable.\n        flow.set(\"new_state\", msg.payload.event.new_state.state); // Store the new state value in a flow variable.\n        var person = msg.payload.event.new_state.context.user_id; // Store the user ID who initiated the state change.\n        var msg1 = { payload:entity }; // Create message 1\n        var msg2 = { payload:person }; // Create message 2\n        return [msg1,msg2]; // Return message 1 to output 1 and message 2 to output 2.\n    }\n} else { // If the event on the event bus isn't a state change, stop the flow.\n    return;\n}\n\n\n\n","outputs":2,"noerr":0,"x":430,"y":80,"wires":[["33354773.4523e8"],["f474554b.b7ed98"]]},{"id":"33354773.4523e8","type":"join","z":"ea085f5a.23cdf","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530,"y":140,"wires":[["7571b74d.264f98"]]},{"id":"ff5bddb3.d118e","type":"stoptimer","z":"ea085f5a.23cdf","duration":"400","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":1300,"y":80,"wires":[["33354773.4523e8"],[]]},{"id":"7571b74d.264f98","type":"function","z":"ea085f5a.23cdf","name":"Test for Undefined User and Create Notification Message","func":"if (msg.payload[1] === undefined) {\n    return;\n} else {\nvar myPreviousState = flow.get(\"previous_state\");\nvar myCurrentState = flow.get(\"new_state\");\nvar entity = msg.payload[0] + \" was just changed from \" + myPreviousState + \" to \" + myCurrentState;\nvar person = \" by \" + msg.payload[1];\nmsg.payload = entity + person;\nreturn msg;\n}","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["9f8f9d18.de06f"]]},{"id":"b7340384.1299b","type":"comment","z":"ea085f5a.23cdf","name":"Notify when state is changed from HA User Interface","info":"","x":230,"y":40,"wires":[]},{"id":"978ac7e4.331c68","type":"api-call-service","z":"e58caaca.87f878","name":"","server":"804ed9ef.be45f8","service_domain":"notify","service":"notify_all_ios","data":"{\"title\":\"Update\",\"message\":\"{{payload}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":1300,"wires":[["607b4ecf.3d6c6"]]},{"id":"6c1485f3.8ab15c","type":"change","z":"e58caaca.87f878","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"cmd\":\"opensdoor\",\"doorip\":\"192.168.5.60\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1220,"wires":[["f6bceaa9.0c08c8"]]},{"id":"f6bceaa9.0c08c8","type":"function","z":"e58caaca.87f878","name":"","func":"msg.topic = \"rfid\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1220,"wires":[["2b7b30cb.d8b47"]]},{"id":"9a94bcbe.9b51","type":"mqtt out","z":"e58caaca.87f878","name":"","topic":"","qos":"","retain":"","broker":"288b1968.f16fd6","x":550,"y":1220,"wires":[]},{"id":"2b7b30cb.d8b47","type":"stoptimer","z":"e58caaca.87f878","duration":"700","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":420,"y":1220,"wires":[["9a94bcbe.9b51"],[]]},{"id":"ce131dae.bd61","type":"debug","z":"e58caaca.87f878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":400,"wires":[]},{"id":"4e910f62.3353","type":"switch","z":"e58caaca.87f878","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"access","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":1220,"wires":[["6c1485f3.8ab15c"]]},{"id":"bd976f7b.ecafb","type":"api-current-state","z":"e58caaca.87f878","name":"","server":"804ed9ef.be45f8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.global_notification","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":1360,"wires":[["978ac7e4.331c68"],[]]},{"id":"e128ec88.9d5fb","type":"debug","z":"e58caaca.87f878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":860,"wires":[]},{"id":"a75da2cc.626b5","type":"api-call-service","z":"e58caaca.87f878","name":"","server":"804ed9ef.be45f8","service_domain":"notify","service":"ios_jons_iphone","data":"{\"title\":\"Update\",\"message\":\"{{payload}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":980,"wires":[[]]},{"id":"bdaece79.28a62","type":"stoptimer","z":"e58caaca.87f878","duration":"45","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":590,"y":960,"wires":[["cec7a093.86c05"],[]]},{"id":"cec7a093.86c05","type":"change","z":"e58caaca.87f878","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Missed Heartbeat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":960,"wires":[["a75da2cc.626b5"]]}]